.footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #6DC5D1;
    background-image: linear-gradient(to right, #DD761C, #6DC5D1);
    color: rgb(0, 0, 0);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 20px;
}

.footer ul li a {
    color: #000000;
    text-decoration: none;
}

.footer ul li p {
    text-align: right;
    display: inline;
    position: absolute;
    bottom: 5px;
    right: 16px;
    color: #000000;
}